html,
body {
    margin: 0;
    padding: 0;

}

#root {
    margin: 0;
    height: 100%;
    width: 100%;
}

canvas {
    width: 1261.5px;
    height: 891px;
}

.detailView {
    height: 891px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
