html,
body {
    margin: 0;
    padding: 0;
}

#root {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.scrollbar::-webkit-scrollbar-corner {
    background-color: rgb(26, 25, 25);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(33, 33, 33, 0.7);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    outline: 0px solid rgb(17, 17, 17);
}

.loader {
    border: 8px solid #313030; /* Light grey */
    border-top: 8px solid #9ea0a0; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}